* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main {
    justify-content: space-between;
    width: 80%;
    margin: 0px auto;
}
header {
    background-color: black;
    color: aliceblue;
}
nav {
    justify-content: space-around;
    display:flex;
}
.navbar {
    display: flex;
    background-color: black;
    justify-content: space-between;
    padding: 10px;
}   

.nav-links {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    color: aliceblue;
}
.btn {
    color: antiquewhite;
    background-color: dodgerblue;
    box-shadow: 2px 2px 2px 1px rgba(188, 188, 221, 0.767);
    vertical-align: middle;
    cursor: pointer;
} 


aside {
    margin: 0px;
    flex-direction: column-reverse;
}
.home {
    background-color:rgb(226, 233, 240);
    display: flex;
    justify-content: space-around;
    margin: 1px;
    border-color: black;  

}
footer {
    background-color: darkgray;
    text-align: right;
}

/* customizar la seccion del header */
ul {
    text-align: right;
    display: inline-flex; /*ordenar los menu en una line horizontal*/
    align-items: center;
}

li {
    list-style: none;
    margin: 20px;
}

.btncierra {
    color: antiquewhite;
    background-color: dodgerblue;
    box-shadow: 2px 2px 2px 2px rgba(225, 225, 231, 0.767);
    vertical-align: middle;
    cursor: pointer;
}
/* contenedor educacion */
.section-3 {
    background-color:rgb(32, 32, 32);
    color: aliceblue;
    height: 70px;
}
.section-4 {
    background-color:aliceblue;
    height: 250px; 
}
.tarjeta2 {
    margin: 20px;
}
.targetDesc2 {
    float: left;
    padding-left: 30px;
    padding-right: 10px;
 }

 #nombrePersona {
    color: darkslategrey
 }
 #userConn {
    color: darkslategrey
 }
 #userRequest {
    color: darkslategrey
 }
 
 #userConnList {
    color: darkslategrey
 }
 #cantConnRequest {
    font-size: smaller;
 }
 #cantConnect{
    color: darkslategrey
 }

/* aside customizar sector */
#btnaside1 {
    color:aliceblue;
    background-color: darkgrey;
    border-style: none;
    border-radius: 50%;
}
#btnaside2 {
    color:aliceblue;
    background-color: darkgrey;
    border-style: none;
    border-radius: 50px;
}
.persona {
    width: 50px;
    height: 40px;
    border-radius: 50%;
}
.lista {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

/*contenedor de la tarjeta de contacto*/
.homeizq {
    display: flexbox;
    flex-direction: column;
    margin: 1px;
    flex: 3;
}
.tarjeta1 {
    margin: 20px;
    flex:3;
}
.targetDesc1 {
   float: left;
   padding-top: 50px;
   padding-left: 30px;
   padding-right: 10px;
}

.imagen {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

a {
    text-decoration: none;    
}

a:hover  {
    color: brown;
}

.icon {
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
.icon2 {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.section-1 {
    background-color:darkcyan;
    height: 100px;
}
.section-2 {
    background-color:aliceblue;
    height: 250px;   
}

/* fin */